.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    margin-top: 3rem;
}

.title{
    font-size: 2.1rem;
    border-bottom: solid 1px gray;
    margin-bottom: 45px;
    letter-spacing: 2px;
    text-align: left;
}

.section1{
    font-size: 22px;
    max-width: 100vh;
    text-align: justify;
    letter-spacing: 1.9px;
}

.up {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .up:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }